<!-- app/views/recipes/search.html.erb -->
<h1>Find Recipes by Ingredients</h1>

<%= form_tag recipes_search_path, method: :get do %>
  <%= label_tag :ingredients, "Enter ingredients (comma-separated):" %>
  <%= text_field_tag :ingredients, params[:ingredients] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @recipes %>
  <h2>Recipes Found:</h2>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= recipe.title %></li>
    <% end %>
  </ul>
<% end %>
